/* 
Základní syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
    vlastnost-4: hodnota;
    vlastnost-5: hodnota;
    ...
    vlastnost-n: hodnota;
}

*/

body {
    background-color: #edf5d4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin: unset;
}

h1, h2 {
    color: brown;
}

p {
   font-family: 'Times New Roman', Times, serif;
   
   /* velikost písma */
   font-size: 18px; 
}

header, footer {
    background-color: #35B0FC;
    
    /* 1rem většinou 16 px */
    /* padding: 0.5rem;  */
    padding: 0.5rem 1rem;
    /* padding: 0.5rem 1rem 1.5rem 2rem; */
}

footer p {
    margin: unset;
}

.page-wrapper {
    width: 90%;
    
    /* zarovnání na střed */
    margin: 0 auto; 
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0;
}


nav li {
/* flex-grow: 1; */
/* flex-shrink: 1; */
/* flex-basis: 100px; */

/* to samé jako předchozí 3 vlastnosi */
flex: 1 1 100px;

}


nav a {
   display: block;
   background-color: #35B0FC;
   color: white;
   text-decoration: none;
   padding: 0.5rem;
   border-radius: 10px;
   white-space: nowrap;
}


.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-columns: 1fr 4fr 5fr; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
}


.card {
    background-color: #e3e3e3;
    padding: 1rem;
    /* margin-top: 1rem; */
    border-radius: 20px 40px;
    border: 2px solid orange;
}










