/* 

Základní syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
    vlastnost-4: hodnota;
    ...
    vlastnost-n: hodnota;
}

*/


body {
    background-color: #cdf8f8;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    /* rodina písma */
    font-family: 'Times New Roman', Times, serif;
   
   /* velikost textu */
   font-size: 18px;
}