/* 

Základní syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
    vlastnost-4: hodnota;
    ...
    vlastnost-n: hodnota;
}

*/


body {
    background-color: #cdf8f8;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 36px;
    margin: unset;
}

h1, h2 {
    color: brown;
}

header, footer {
    background-color: #35B0FC;
    
    /* 1rem je většinou 16px */
    /* padding: 1rem; */
    padding: 0.5rem 1rem;
    /* padding: 0.5rem 1rem 1.5rem 2rem; */
}

footer p {
    margin: unset;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    padding: 0;
    flex-wrap: wrap;
}

nav li {
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 100px; */

    /* to samé jako předchozí 3 vlastnosti */
    flex: 1 1 100px;

}





nav a {
   display: block;
   background-color: #35B0FC;
   color: white;
   text-decoration: none;
   padding: 0.5rem;
   border-radius: 8px;
   white-space: nowrap; 
}

p {
    /* rodina písma */
    font-family: 'Times New Roman', Times, serif;
   
   /* velikost textu */
   font-size: 18px;
}

/* pomocí tečky se odkazujeme na třídy */
.page-wrapper {
    width: 90%;

    /* zarovnání na střed */
    margin: 0 auto;
}


.grid-container {
    display: grid;
    gap: 1rem;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 2fr 4fr 3fr ; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}


.card {
    background-color: #e3e3e3;
    padding: 1rem;
    /* margin: 0.5rem; */
    border-radius: 16px 32px;
    border: 2px solid orange;
}



